.pb_main{
    overflow: hidden;
}
.pb_header{
    padding: 20px 0;
    display: flex;
    align-items: center;
}
.pb_header .brand img{
    width: 26%;
}
.pb_button{
    color: #fff;
    font-weight: bold;
    background-color: #FF9900;
}
.order-sec{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.hero-section{
    width: 100%;
}
.hero-section .hero-content{
    width: 100%;
    height: 88vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.hero-section .hero-content h1{
    font-weight: bolder;
}
.hero-section .hero-image{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 87vh;
}
.hero-section .hero-image img{
    object-fit: contain;
    width: 100%;
}
.cta{
    width: 40%;
}