.pb_main{
    overflow: hidden;
    overflow-x: hidden!important;
    position: relative;
}
.open{
    right: 0!important;
}
.pb_header{
    padding: 20px 0;
    display: flex;
    align-items: center;
}
.navbar{
    background-color: #fff!important;
}
.collapse{
    display: flex!important;
    justify-content: flex-end;
}
.pb_header .brand img{
    width: 26%;
}
.pb_button{
    color: #fff;
    font-weight: bold;
    background-color: #FF9900;
}
.nav-link{
    position: relative;
}
.nav-link:hover{
    color:  #FF9900!important;
}
.order-sec{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.hero-section{
    width: 100%;
}
.hero-section .hero-content{
    width: 100%;
    height: 88vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.hero-section .hero-content h1{
    font-weight: bolder;
}
.hero-section .hero-image{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 87vh;
}
.hero-section .hero-image img{
    object-fit: contain;
    width: 100%;
}
.cta{
    width: 40%;
}
.love{
    color: chocolate;
}
.checkout-section{
    width: 500px;
    position: absolute;
    right: -504px;
    padding: 40px 30px;
    top: 0;
    background-color: #fff;
    height: 100vh;
    transition: right ease-in .35s;
    box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
}
.checkout-section h2{
    margin-bottom: 30px;
}
.pb_card{
    width: 100%!important;
    box-shadow: 0 7px 30px -10px rgba(150,170,180,0.5);
    border: 0 solid transparent;
    padding: 20px;
}
.pb_card .card-title{
    font-size: 15px;
    font-weight: bolder;
}
.pb_card .card-img{
    width: 90px;
    height: 90px;   
    position: relative;
}
.pb_card .card-img img{
    object-fit: contain;
    width: 90px;
}
.order-sum{
    margin-top: 15px;
    overflow-y: auto;
}
.items-count{
    display: flex;
    align-items: center;
}
.items-count .count{
    padding: 10px;
    background-color: chocolate;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    margin: 0 10px;
}
.pb_checkout-total{
    margin-top: 30px;
}
.mid-sec{
    margin: 0 auto;
    height: 100vh;
    width: 400px;
}
.mid-sec .card{
    width: 100%!important;
    padding: 10px;
}
select{
    width: 100%!important;
    padding: 10px;
}